.footer{
  width: 100%;
  background: rgba(72, 57, 114, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  color: white  !important;
}

.footer p{
  color: white  !important;

  padding: 0 !important;
  margin: 0  !important;  
}
.footer a{
  padding: 0 15px;
  color: white  !important;
}